<%- include('templates/head'); %>

<body>
    <div class="container-fluid m-0 p-0 w-100 h-100">
        <%- include('templates/navbar', { title: 'Hembras' }); %>

        <%- include('templates/title', { title: 'Hembras' }); %>

        <div id="cardsContainer" class="container"></div>

    </div>
    <%- include('templates/footer'); %>
    <script src="/js/hembras.js"></script>
</body>