<section id="carouselExampleCaptions" class="carousel-fullscreen carousel slide mx-3 mb-4">
    <div class="carousel-inner d-flex align-items-center">
        <div class="carousel-item active d-flex justify-content-center align-items-center h-100">
                <img src="assets/pexels-dominika-roseclay-2023384.jpg"
                    style="max-width: 100%; max-height: 89vh; object-fit: fill;"
                    alt=""
                    class="shadow m-1"
                    id="ImgCarrusel">
            <div class="carousel-caption d-none d-md-block shadow" style="background-color: rgba(0, 0, 0, 0.5);">
                <h5 id="tituloCard">Pepe</h5>
                <p id="textCard">Pepe es un perro de raza Labrador Retriever. Tiene un pelaje dorado y es muy juguetón. Le encanta correr por el parque y jugar con su pelota.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" id="prevImg" type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-secondary shadow"
            aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" id="nextImg" type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon bg-secondary shadow"
            aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>

