<footer class="footer mt-5 bg-secondary text-white">
    <div class="container fs-6">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="bg-secondary text-white ">
                    <div class="card-body">
                        <h5 class="card-title py-3">Contacto</h5>
                        <div class="contact-info">
                            <p><i class="fas fa-map-marker-alt"></i> Dirección: 123 Calle Principal, Ciudad</p>
                            <p><i class="fas fa-phone"></i> Teléfono: +1234567890</p>
                            <p><i class="fas fa-envelope"></i> Email: info@example.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center ">
                <div class="bg-secondary text-white">
                    <div class="card-body">
                        <h5 class="card-title py-3 text-center">Síguenos</h5>
                        <div class="social-links">

                            <img src="assets/icons8-twitter.svg" class="color-white mx-1" alt="Instagram">
                            <img src="assets/icons8-instagram.svg" class="color-white mx-1" alt="Instagram">
                            <img src="assets/icons8-facebook.svg" class="color-white mx-1" alt="Instagram"> 
                            
                        </div>
                        <p class="pt-3 text-center">&copy; 2024. Dogs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
